<nav class="container navbar navbar-expand-lg navbar-dark bg-dark mb-4">
	<div>
		<a class="navbar-brand" href="{{path('app.home')}}">KGB MISSIONS</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>

	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="{{path('app.home')}}">Home</a>
			<a class="nav-item nav-link" href="{{path('app.agents.index')}}">Agents</a>
			<a class="nav-item nav-link" href="{{path('app.targets.index')}}">Targets</a>
			<a class="nav-item nav-link" href="{{path('app.contacts.index')}}">Contacts</a>
			<a class="nav-item nav-link" href="{{path('app.hideaway.index')}}">Hideaways</a>
			<a class="nav-item nav-link" href="{{path('app.skills.index')}}">Skills</a>
			<a class="nav-item nav-link" href="{{path('app.logout')}}">Logout</a>

		</div>
	</div>
</nav>
